* {
	box-sizing: border-box;
	margin: 0 auto;
}

body { 
	font-family: 'Lato', sans-serif;
	background-attachment: fixed;
	background-position: center;
	background-image: 
    linear-gradient(
      rgba(200, 200, 200, 0.4),
      rgba(200, 200, 200, 0.4)
    ),
    url("http://thedcgazette.com//wp-content/uploads/2015/12/Variety-Vegetables.jpg");
  color: #303030;
}

/*"Farmers Market Central" text*/
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 80px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0.75em;
    margin-top: -10px;
}

/* Table headings */
th {
	font-size: 16px;
  border-bottom: 1px solid #ddd;
}

/* Table rows */
td {
  font-size: 14px;
}

.container {
  width: 100%;
}

.for-search {
  display: none;
  margin: 0 auto;
  width: 405px;
}

/* Row for the map and table results, background styling */
.for-results {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2em;
  margin-bottom: 150px;
}

.nearby-heading {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;

}

/* Table background panel styling*/
.panel-marketList {
  border-radius: 0;
  opacity: 0.9;
}

.table-marketList {
  padding: 5px;
}

/* Spacing of input groups for adding market */
.input-group {
	margin-bottom: 5px;
}

/* Div for buttons, finding/adding market */
.intro-div {
  color: #fff;
  font-size: 35px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* styling of search, login, and add buttons */
.btn-addMarket, .btn-login, .btn-findMarket {
	border: none;
	border-radius: 0;
}

.btn-findMarket {
  width: 200px;
  font-style: italic;
  padding: 0.75em 0;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn-addMarket {
  width: 200px;
  font-style: italic;
  padding: 0.75em 0;
  font-size: 14px;
  margin-bottom: 20px;
}

.btns-div {
  margin: 0 auto;
  width: 405px;
}

.btn-login {
  border-radius: 0;
}

.btn-search {
  border-radius: 0;
  margin-top: 7px;
  margin-bottom: 15px;
  font-style: italic;
}

/* Spacing of search box */
.search-input {
  height: 32px;
  width: 200px;
  border-radius: 0;
}

/* Spacing of entire search form */
.search-form {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

/* Styling of "i" buttons on table */
.btn-moreInfo {
	background-color: #fff;
	border-radius: 0;
	margin-right: 10px;
  margin-top: 4px;
}

/* Display map */
#map {
    height: 400px;
    width: 100%;
    margin-left: 1px;
    margin-bottom: 20px;
}


/* Media Queries */

@media screen and (max-width: 768px) {

  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  h1{
    font-size:24px;
  }
     
  th {
    font-size: 14px;
  }

  td {
    font-size: 12px;
  }

  .btn-moreInfo {
    margin: 0 auto;
  }

  .intro-div {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
  }

  .btn-findMarket, .btn-addMarket {
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
  }

  .btn-addMarket {
    margin-bottom: 20px;
  }

  .nearby-heading {
   font-size: 20px;
  }

  #map {
    height:300px;
  }

}

@media screen and (max-width: 667px) {

  .panel-marketList {
    padding-left: 0;
    margin-left: -20px;
    margin-right: -20px;
  }

  .panel-body {
    padding: 0;
  }

  .col-market {
    padding: 0;
  }

  .btn-moreInfo {
    margin: 0 auto;
  }

  .btn-findMarket, .btn-addMarket {
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
  }

  .btn-addMarket {
    margin-bottom: 20px;
  }

  .intro-div {
    display: none;
  }

  .nearby-heading {
   font-size: 18px;
  }

  #map {
    height:200px;
  }

}